bin/
build/
coverage/
*.out
*.obj
*.opt
*.a

corelib/**/*.ll
corelib/**/*.bc
stdlib/**/*.ll
stdlib/**/*.bc

memo/

Gemfile.lock
.bundle
vendor

s.sh

.omakedb
.omakedb.lock

*.omc
*.cmi
*.cmt
*.cmti
*.cmxa
*.annot
*.cmx
*.cmp
*.o

*.bc

.gdb_history
peda-session-*

perf.*

memo-*.md
docs